.aboutBackground {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.aboutSection {
  font-family: "Sanchez", sans-serif;
  padding: 50px 0;
  text-align: center;
  width: 1170px;
  color: #000000;
  margin: 0 auto;

  h1 {
    color: #333;
    font-size: 40px;
    font-family: "Sanchez", sans-serif;
    font-weight: bold;
    word-break: keep-all;
    margin-bottom: 10px;
  }
  h2 {
    color: #9f8e8e;
    opacity: 0.75;
    font-size: 15px;
    margin-top: 0;
  }
  header {
    padding-bottom: 50px;
    text-align: center;
  }
  .col_1 {
    width: 41%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    h3 {
      color: #333;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  .col_2 {
    width: 52%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    h3 {
      color: #333;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: "Sanchez", sans-serif;
      font-size: 24px;
      text-align: left;
    }
    p {
      color: #333;
      margin-top: 20px;
      font-family: "Sanchez", sans-serif;
      font-size: 21px;
      text-align: left;
    }
  }
}

.aboutSectionProfile {
  font-family: "Sanchez", sans-serif;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  color: #000000;
  margin: 0 auto;
}

.introMainSection p {
  font-size: 21px;
}

@media only screen and (max-width: 1170px) {
  .aboutSection {
    width: 950px;
  }
}

@media only screen and (max-width: 950px) {
  .aboutSection {
    width: 450px;
    .col_1 {
      width: 100%;
    }
    .col_2 {
        width: 100%;
        padding-top: 20px;
        h3 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
  }
}

@media only screen and (max-width: 550px) {
  .aboutSection {
    width: 100%;
    .col_1 {
      padding: 0px;
    }
    .col_2 {
      padding: 0px;
      h3 {
        font-size: 20px;
      }
      p {
        text-align: center;
        padding:0 20px;
        font-size: 16px;
      }
    }
  }

  .profilePicture {
    width: 95%;
    margin: auto 0;
    position: relative;
  }
}
