.projectsBackground {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #f9fced;
}

.projectsSection {
  font-family: "Sanchez", sans-serif;
  padding: 20px 0;
  text-align: center;
  width: 1170px;
  color: #000000;
  margin: 0 auto;
  h1 {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    word-break: keep-all;
    margin-bottom: 10px;
  }
  h2 {
    color: #9f8e8e;
    opacity: 0.75;
    font-size: 15px;
    margin-projects: 0;
  }
  header {
    text-align: center;
  }
}

.projectsBoxesSection {
  text-align: center;
  height: auto;
  color: #000000;
  margin: 0 auto;
}

.projectsBoxesContainer {
  width: 1170px;
  margin: 30px auto;
  display: inline-block;
}

.projectBox {
  width: 31%;
  display: block;
  float: left;
  padding: 13px;
}

.projectsItem {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.176);
  padding: 20px 10px;
  background: #fff;
  padding: 10px;
}

.projectsDescription {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.176);
  padding: 20px 10px;
  background: #e0e0e0;
  color: #777;
  p {
    background-color: #e0e0e0;
    font-size: 15px;
    color: #777;
    padding: 20px;
    margin: 0px;
    word-break: keep-all;
  }
}

.projectsnav {
  background-color: #fff;
  overflow: hidden;
  margin: 13px;
}

/* Style the links inside the navigation bar */
.projectsnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.projectsnav a:hover {
  background-color: #e0e0e0;
  color: black;
}

/* Add a color to the active/current link */
.projectsnav a.active {
  background-color: #5e5e5e;
  color: white;
}

@media only screen and (max-width: 1170px) {
  .projectsBoxesContainer {
    margin: 0 auto;
    width: 800px;
    display: inline-block;
    padding-bottom: 50px;
  }
  .projectBox {
    width: 30%;
    display: block;
    float: left;
    padding: 13px;
  }
  .projectsSection {
    width: 100%;
  }
  .projectsDescription {
    padding: 20px 5px;
  }
}

@media only screen and (max-width: 800px) {
  .projectsBoxesContainer {
    margin: 0 auto;
    width: 600px;
    display: inline-block;
    padding-bottom: 50px;
  }
  .projectBox {
    width: 47.5%;
    display: block;
    float: left;
    padding: 5px;
  }
  .projectsSection {
    width: 100%;
  }
  .projectsDescription {
    padding: 20px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .projectsBoxesContainer {
    margin: 0 auto;
    width: 320px;
    display: inline-block;
    padding-bottom: 50px;
  }
  .projectBox {
    width: 45%;
    display: block;
    float: left;
    padding: 5px;
  }
}

// @media only screen and (max-width: 800px) {
//   .proejctsBoxesContainer {
//     width: 90%;
//     margin: 0 auto;
//   }
//   .serviceBox {
//     width: 100%;
//     margin: 0 auto;
//     padding: 20px 0px 0px 0px;
//   }

//   .proejctsDescription p {
//     padding: 0px;
//     margin: 0px;
//   }

//   .proejctsItem h3 {
//     padding: 0px;
//     margin: 0px;
//   }
// }
