.servicesBackground {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #edfcfb;
}

.servicesSection {
  font-family: "Sanchez", sans-serif;
  padding: 20px 0;
  text-align: center;
  width: 1170px;
  color: #000000;
  margin: 0 auto;
  h1 {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    word-break: keep-all;
    margin-bottom: 10px;
  }
  h2 {
    color: #9f8e8e;
    opacity: 0.75;
    font-size: 15px;
    margin-top: 0;
  }
  header {
    text-align: center;
  }
}

.ServicesBoxesSection {
  text-align: center;
  height: auto;
  color: #000000;
  margin: 0 auto;
}

.ServicesBoxesContainer {
  width: 1170px;
  margin: 30px auto;
  display: inline-block;
}

.serviceBox {
  width: 31%;
  display: block;
  float: left;
  padding: 13px;
}

.servicesItem {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.176);
  padding: 20px 10px;
  background: #fff;
  padding: 25px;
  .serviceIcon {
    .fa {
      font-size: 58px;
      color: #5e5e5e;
    }
  }
  h3 {
    color: #9f8e8e;
    font-size: 24px;
    margin: 10px;
  }
}

.servicesDescription {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.176);
  padding: 20px 10px;
  background: #e0e0e0;
  color: #777;
  p {
    background-color: #e0e0e0;
    font-size: 15px;
    color: #777;
    padding: 20px;
    margin: 0px;
    word-break: keep-all;
  }
}

@media only screen and (max-width: 1170px) {
  .ServicesBoxesContainer {
    margin: 0 auto;
    width: 800px;
    display: inline-block;
    padding-bottom: 50px;
  }
  .serviceBox {
    width: 30%;
    display: block;
    float: left;
    padding: 13px;
  }
  .servicesSection {
    width: 100%;
  }
  .servicesDescription {
    padding: 20px 5px;
  }
}

@media only screen and (max-width: 800px) {
  .ServicesBoxesContainer {
    width: 90%;
    margin: 0 auto;
  }
  .serviceBox {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
  }

  .servicesDescription p {
    padding: 0px;
    margin: 0px;
  }

  .servicesItem h3 {
    padding: 0px;
    margin: 0px;
  }
}
