.skillsBackground {
	width:100%;
	background-size: 100%;
	background-repeat: no-repeat;
    background-color: #dddddd;
}

.skillsSection {
    padding: 20px 0;
    text-align: center;
    width: 1170px;
    color:#000000;
    margin: 0 auto;
}

.skillsSection h1 {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    word-break: keep-all;
    margin-bottom:10px;
    
}

.skillsSection h2 {
    color: #9F8E8E;
    opacity:0.75;
    font-size: 15px;
    margin-top: 0;
}

.skillsSection header{
    text-align: center;
}

.skillsBoxesSection {
    text-align: center;
    width: 1100px;
    color: #000000;
    margin: 0 auto;
}

.skillsBoxesContainer {
    width: 1100px;
    margin: 30px auto;
    display: inline-block;
}

.skillsBox {
    width: 30%;
    display: block;
    float: left;
    padding: 16px;
}

.skillsItem {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #CFCFCF;
    height: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillsTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillsTitle span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillsPercentage {
    height: 40px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skillsPercentageTitle {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 40px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1170px) {
    .skillsSection {
        width: 100%;
    }
    .skillsBoxesSection {
        width:800px;
    }

    .skillsBox {
        width: 46%;
        display: block;
        float: left;
        padding: 16px;
    }
    .skillsBoxesContainer {
        width: 800px;
    }
}

@media only screen and (max-width: 820px) {

    .skillsBoxesSection {
        width:90%;
        margin:0 auto;

    }
    .skillsBoxesContainer {
        width:100%;
    }
    .skillsBox {
        width: 100%;
        display: block;
        float: left;
       padding: 0px 16px 0px 0px;
    }

}